@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: beige;
  height: 100vh;
}

#video-stream {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  gap: 1.5rem;
}

@media screen and (max-width: 1400px) {
  #video-streams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
  }
}

.video-container {
  max-height: 100%;
  /* border: 2px solid black; */
  background-color: #1c2429;
  background-image: url("./assets/user.png");
  background-position: center;
  background-repeat: no-repeat;
}

.video-player {
  height: 100%;
  width: 100%;
}

#stream-controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  padding: .5rem;
  background: palegoldenrod;
  border-radius: 6px
}

.user-name {
  @apply text-white text-lg absolute top-8 left-8 px-4 py-2 bg-[#3730a3] rounded capitalize z-10;
}
